@use "@/assets/scss/mixins.scss" as *;

.pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  width: fit-content;
  min-height: 90vh;
  height: fit-content;
  margin-top: 85px;
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 30px;
}

.pdf-page {
  display: flex;
  width: fit-content;
  margin-bottom: 20px;
  border: 0.5px solid rgb(0, 0, 0, 0.1);
}

.pdf-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 40px;
}
