@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=M+PLUS+1p:wght@300;400;500;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@100&display=swap');
@import url('https://fonts.cdnfonts.com/css/next-art');


:root {
  --color-background-red: rgb(229, 121, 82);
  --color-background-yellow: rgb(253, 211, 93);
  --color-background-purple: rgb(115, 82, 229);
  --color-background-lavender: rgb(202, 187, 255);
  --color-background-light-blue: rgb(245, 245, 253);

  --color-hover-yellow: rgb(249, 194, 41);
  --color-pressed-yellow: rgb(255, 230, 160);
  --color-hover-purple: rgb(95, 68, 186);
  --color-pressed-purple: rgb(134, 105, 233);
  --color-hover-red: rgb(246, 114, 66);
  --color-pressed-red: rgb(236, 130, 91);
  --color-hover-lavender: rgb(151, 122, 249);
  --color-pressed-lavender: rgb(222, 212, 255);
  --color-disabled: rgb(227, 227, 227);

  --color-text-dark: rgb(0, 0, 0);
  --color-text-light: rgb(255, 255, 255);
  --color-text-purple: rgb(115, 82, 229);
  --color-text-gray: rgb(82, 82, 82);

  --font-family-nunito: Nunito, Roboto, sans-serif;
  --font-family-next-art: 'NEXT ART', Roboto, sans-serif;

  --min-width-mob: 320px;
  --max-width-mob: 362px;

  --min-width-tablet: 361px;
  --max-width-tablet: 650px;

  --cards-border-radius: 12px;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* стили прописаны для mobile, так как mobile first */

body {
  width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family-nunito);
  font-weight: 400;
  color: var(--color-text-dark);
  font-size: 16px;
  line-height: 1.4;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: var(--min-width-mob);
  /* max-width: var(--max-width-mob); */
  width: 100%;
  gap: 40px;
  padding-right: 17px;
  padding-left: 17px;
  height: fit-content;
  padding-bottom: 40px;
  margin-top: 70px;
}

h1,
h2 {
  font-family: var(--font-family-next-art);
}

h2,
h3 {
  font-weight: 600;
}

h3 {
  font-family: var(--font-family-nunito);
  font-size: 16px;
  line-height: 1.5;
}

@media only screen and (min-width: 361px) and (max-width: 768px) {
  body,
  main {
    min-width: var(--min-width-tablet);
    max-width: var(--max-width-tablet);
    background-color: green;
  }

  body {
    background-color: yellow;
  }
}
